body {
  background-color: #ddd;
  color: #55f;
}

li {
  display: inline;
  list-style: none;
}

div#movieScreen {
  position: relative;
}

div#movieScreen canvas {
  position: absolute;
  top: 0px;
  left: 0px;
}
